@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

body{
    margin: 0;
    height: 100%;
}
label{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: 'Concert One','Times New Roman';
    background-color: rgb(112, 4, 112);
    color: whitesmoke;
    width: 40%;
    padding: 10px;
    margin: 15px;
    margin-left: 30%;
}
.container{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "sidebar image" "sidebar slider";
    height: 100vh;
    width: 100vw;
    background-color: #ececda;
}
#image{
    grid-area: image;
    /* width: 100%;
    height: 100%; */
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(241, 182, 202);
    border-right: 2px purple solid;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.sidebar-item{
    cursor: pointer;
    padding: 15px;
    position: relative;
    font-family: 'Kalam', sans-serif;
    font-size: 25px;
}
.sidebar-item:hover{
    background-color: rgb(231, 119, 231);
}
.sidebar-item:active{
    background-color: purple;
}
.slider-container{
    grid-area: slider;
    padding: 20px;
    background-color: rgb(112, 4, 112);
}
#slider{
    width: 100%;
    cursor: pointer;
}
/* FORM */
form{
    background-color: rgb(241, 182, 202);
    position: absolute;
    padding: 35px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
} 
#abt{
    font-size: 55px;
    padding-bottom: 20px;
    font-family: 'Concert One',cursive;
    color: #ff304f;
}
.data{
    margin: 20px;
}
.btn{
    border: 0;
    background-image: linear-gradient(to top right,#ff304f,#118df0 );
    font-weight: bolder;
    padding: 15px;
    color: black;
}
#size{
    display: none;
}